@page "/SampleLongPage/{mode}"
@page "/SampleLongPage/{mode}/{recordId}"

@rendermode InteractiveWebAssembly
@using global::BWA.BusinessComponents.Generics

@inherits AbstractE2ComponentLong<SampleLong>

@using FluentValidation
@using Severity = FluentValidation.Severity


@using Microsoft.AspNetCore.Authorization




<h1>@_pageTitle</h1>
<hr/>


@*  Page Level Critical Error Display *@
@if (_errVisible)
{
    <MudAlert Severity="MudBlazor.Severity.Error">@_errMsg</MudAlert>
}

else
{
    @*  List Mode View*@
    @if (_isListMode)
    {
        <MudButton OnClick="@AddEntity" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Info" Size="Size.Small">Add</MudButton>


        <MudCard>
            <MudDataGrid Items="@_companies" T="SampleLong" Striped="true" Bordered="true"
                         StartedEditingItem="@StartedQuickEditing"
                         CanceledEditingItem="@CancelledQuickEditing"
                         CommittedItemChanges="@CommitQuickEditingSave">
                <Columns>
                    <PropertyColumn Property="p => p.FullName" Title="Full Company Name" Editable="false"/>
                    <PropertyColumn Property="p => p.SampleName" Title="Company Name"/>
                    <PropertyColumn Property="p => p.IsActive" Title="Is Active" Editable="false" CellClass="d-flex align-center justify-center">
                        <CellTemplate>
                            @if (context.Item.IsActive == true)
                            {
                                <MudChip Color="Color.Success" Size="Size.Small">Active</MudChip>
                            }
                            else
                            {
                                <MudChip Color="Color.Error" Size="Size.Small">De-Activated</MudChip>
                            }
                        </CellTemplate>
                    </PropertyColumn>
                    <TemplateColumn Title="Actions">
                        <CellTemplate>
                            <MudStack Row="true">
                                @if (!_isReadOnly)
                                {
                                    <MudTooltip Text="Edit Company">
                                        <MudIconButton Icon="@Icons.Material.Outlined.Edit" OnClick="@(async e => await StartNormalEditOfRecord(context.Item))" Size="@Size.Small" Variant="Variant.Filled" Color="Color.Primary"/>
                                    </MudTooltip>
                                }
                                <MudTooltip Text="@IsActiveIconButtonText(context.Item)">
                                <MudIconButton Icon="@Icons.Material.Outlined.Deselect" OnClick="async () => await OnChangeActivationClick(context.Item)" Size="@Size.Small" Variant="Variant.Filled" Color=@ListMode_ActivationButtonColor(@context.Item)>Activate</MudIconButton>
                                </MudTooltip>
                            </MudStack>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        </MudCard>
    }


    @*  Create / Edit Mode Form *@
    @if (_isCreateMode || _isEditMode)
    {
        <MudCard>
            <MudForm Model="@model" @ref="@form" Validation="@(_validator.ValidateValue)" ValidationDelay="0">
                <MudCardContent>
                    <MudTextField @bind-Value="model.SampleName"
                                  For="@(() => model.SampleName)"
                                  Immediate="true"
                                  Label="Name"/>
                    <MudSpacer></MudSpacer>
                    <MudCheckBox @bind-Value="model.IsActive"
                                 For="@(() => model.IsActive)"
                                 Label="Is Active"/>

                </MudCardContent>
            </MudForm>
            <MudCardActions>
                @if (_isCreateMode)
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await CreateEntity())">Save Company</MudButton>
                }
                else
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await UpdateEntity())">Update Company</MudButton>
                }
            </MudCardActions>
        </MudCard>
    }
}